*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section-download {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(#004aad, #5dbde6);
    padding: 60px;
    .header-dowload {
        display: flex;
        position: absolute;
        top: 0;
        right: 0;
        align-items: center;
        padding: 10px;
        background-color: transparent;
        color: #ffffff;
        width: 100%;
        text-align: center;
        .btn-back {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: auto;
            font-size: clamp(0.875rem, 2vw, 1rem);
            color: #fff;
            background-color: transparent;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            svg {
                object-fit: cover;
                width: 100%;
            }
        }
        
        .btn-back:hover {
            color: #000;
        }
    }
    .article-download {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 20px;
        h2 {
            display: flex;
            justify-content: center;
            text-align: center;
            width: 100%;
            height: auto;
        }
        p {
            display: flex;
            justify-content: center;
            text-align: center;
            width: 100%;
            height: auto;
        }
        .aling_buttoms {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 90%;
            gap: 20px;
            .container_buttoms {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                background: #fff;
                box-shadow: 10px 10px 5px rgba(1, 1, 1, 0.216);
                color: #000;
                border-radius: 35px;
                border: none;
                max-width: 380px;
                width: 100%;
                height: auto;
                padding: 20px;
                gap: 20px;
                h2 {
                    display: flex;
                    justify-content: center;
                    text-align: center;
                    width: 100%;
                    height: auto;
                }
                p {
                    display: flex;
                    text-align: center;
                    width: 100%;
                    height: auto;
                }
                .container-img {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: #5dbde6;
                    border-radius: 50%;
                    border: none;
                    max-width: 130px;
                    width: 100%;
                    max-height: 130px;
                    height: 100%;
                    padding: 10px;
                    
                }
                button {
                    display: flex;
                    text-align: center;
                    justify-content: center;
                    background: #1b76ed;
                    border-radius: 25px;
                    border: none;
                    color: #ffffff;
                    padding: 10px 25px;
                    max-width: 230px;
                    width: 100%;
                    height: auto;
                }
                button:hover {
                    background-color: #0253bd;
                    cursor: pointer;
                }
                .disable-btn {
                    background: #404040;
                    cursor: not-allowed;
                }
                .disable-btn:hover {
                    background: #404040;
                }
            }
        }
    }
}