@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: clamp(14px, 2vw, 24px);
    box-sizing: border-box;
}

h1 {
    font-size: clamp(48px, 8vw, 96px);
}
h2 {
    font-size: clamp(24px, 4vw, 48px);
}

h3 {
    font-size: clamp(16px, 2vw, 32px);
}

body {
    background-color: #004aad;
    color: #fff;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100%;
    height: 100dvh;
}

section{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100dvh;
}

.footer {
    background-color: #24262B;
    padding: 80px 0;
    .container {
        max-width: 1200px;
        margin: 0 auto;
        .legal {
            display: flex;
            flex-wrap: wrap;
            .links-container {
                width: 33.33%;
                padding: 0 15px;
                h3 {
                    font-size: 20px;
                    color: #FFFFFF;
                    margin-bottom: 25px;
                    font-weight: 500;
                    border-bottom: 2px solid #00C3FF;
                    padding-bottom: 10px;
                    display: inline-block;
                }
                ul {
                    li {
                        list-style: none;
                        a {
                            font-size: 18px;
                            text-decoration: none;
                            color: #BBBBBB;
                            display: block;
                            margin-bottom: 15px;
                            transition: all 05s ease;
                        }
                    }
                    li:hover {
                        color: #FFFFFF;
                        padding-left: 6px;
                    }
                }
                .container-links {
                    display: flex;
                    .url-social {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin: 0 10px 10px 0;
                        width: 40px;
                        min-height: 40px;
                        background-color: rgba(255, 255, 255, 0.2);
                        border-radius: 50%;
                        color: #FFFFFF;
                        transition: all .15s ease;
                        
                    }
                    .url-social:hover {
                        background-color: #00C3FF;
                    }
                }
            }
        }
    }
    .copy {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 40px;
        a {
            color: #FFFFFF;
            text-decoration: none;
        }
    }
}