/* Adaptación para dispositivos móviles */
@media only screen and (max-width: 1024px) {
    body {
        font-size: clamp(12px, 1.5vw, 18px);
    }

    h1 {
        font-size: clamp(36px, 6vw, 72px);
    }

    h2 {
        font-size: clamp(20px, 3vw, 40px);
    }

    h3 {
        font-size: clamp(14px, 2.5vw, 28px);
    }

    .home {
        .article-home {
            padding: 10px;
        }
    }

    .section-desktop {
        flex-direction: column-reverse;
        .article-desktop {
            width: 100%;
            height: 40%;
            padding: 20px;
            .title-section {
                justify-content: center;
                align-items: center;
            }
            .text-section {
                padding: 0;
            }
            .article-footer {
                justify-content: center;
            }
        }
        .aside-desktop {
            width: 100%;
            height: 60%;
            padding: 20px;
        }
    }
    .section-movil {
        flex-direction: column-reverse;
        .article-movil {
            width: 100%;
            height: 40%;
            padding: 20px;
            .title-section {
                justify-content: center;
                align-items: center;
            }
            .text-section {
                padding: 0;
            }
            .article-footer {
                justify-content: center;
            }
        }
        .aside-movil {
            width: 100%;
            height: 60%;
            padding: 20px;
            .container-img {
                .img-muestra {
                    max-width: 250px;
                    width: 100%;
                    height: auto;
                }
            }
        }
    }

    .section-functions {
        padding: 20px;
        gap: 10px;
        .functions-list {
            .containers-functions {
                grid-template-columns: repeat(2, 1fr); /* 2 columnas */
                grid-template-rows: repeat(2, 1fr); /* 2 filas */
            }
        }
    }

    .section-result {
        flex-direction: column-reverse;
        .article-result {
            justify-content: start;
            width: 100%;
            height: 30%;
            padding: 30px;
            .result-text {
                width: 100%;
            }
        }
        .aside-result {
            width: 100%;
            height: 70%;
            padding: 10px;
            picture {
                img {
                    max-width: 350px;
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                }
            }
        }
    }

    .section-calcweb {
        flex-direction: column;
        max-width: 100%;
        article {
            max-width: 100%;
            padding: 15px;
            form {
                gap: 10px;
                .element_form {
                    width: 100%;
                    max-height: 40px;
                    height: 100%;
                    padding: 10px;
                    border-radius: 5px;
                    color: #000;
                }
                button {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #004aad;
                    border-radius: 15px;
                    border: none;
                    cursor: pointer;
                    color: #fff;
                    max-width: 180px;
                    width: 100%;
                    max-height: 40px;
                    height: 100%;
                    padding: 15px 10px;
                }
            }
        }
        aside {
            padding: 15px;
        }
    }

    .footer {
        .container {
            .legal {
                text-align: center;
                .links-container {
                    width: 100%;
                    margin-bottom: 30px;
                }
                .container-links {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
}

/* Estilos para visualización horizontal en dispositivos móviles */
@media only screen and (max-width: 1024px) and (orientation: landscape) {
    p {
        font-size: clamp(7px, 1vw, 10px);
    }
    
    span {
        font-size: clamp(7px, 1vw, 10px);
    }
    
    a {
        font-size: clamp(6px, 0.6vw, 9px);
    }

    .home {
        padding: 10px;
        .article-home {
            padding: 10px;
            .title-section {
                h1, h2 {
                    padding: 10px;
                }
            }
            .article-footer {
                padding: 10px;
                .btn-section {
                    max-width: 200px;
                    max-height: 50px;
                    padding: 20px 10px;
                }
            }
        }
    }

    .section-desktop, .section-movil {
        padding: 30px;
        .article-desktop, .article-movil {
            padding: 20px;
            .article-footer .btn-section {
                max-width: 200px;
                max-height: 50px;
                padding: 20px 10px;
            }
        }
        .aside-desktop, .aside-movil {
            padding: 20px;
            .container-img .img-muestra {
                max-width: 200px;
            }
        }
    }

    .section-functions {
        padding: 30px;
        gap: 15px;
        .article-functions {
            gap: 5px;
        }
        .functions-list .containers-functions {
            grid-template-columns: repeat(2, 1fr); /* Reduce la cantidad de columnas */
            grid-template-rows: repeat(2, 1fr); /* Ajusta el número de filas */
            .function {
                max-width: 200px;
                max-height: 300px;
                padding: 5px;
                gap: 3px;
                .icon {
                    max-width: 80px;
                }
            }
        }
    }

    .section-calcweb {
        padding: 20px;
        .article-calcweb {
            .form-clacweb {
                max-width: 400px;
                max-height: 500px;
                padding: 15px;
                .element_form {
                    max-height: 40px;
                    padding: 5px;
                }
                .buttom_form .btn_calcu {
                    max-width: 200px;
                    max-height: 50px;
                    padding: 20px 10px;
                }
            }
        }
        .resultado {
            padding: 30px;
            .container_results {
                gap: 10px;
            }
        }
    }
}
