@media (max-width: 768px) {
    body {
        font-size: clamp(12px, 1.5vw, 18px);
    }
    
    h1 {
        font-size: clamp(36px, 6vw, 72px);
    }
    
    h2 {
        font-size: clamp(20px, 3vw, 40px);
    }
    
    h3 {
        font-size: clamp(14px, 2.5vw, 28px);
    }
    .section-download {
        padding: 15px;
        .article-download {
            .aling_buttoms {
                flex-direction: column;
                .container_buttoms{
                    max-width: 300px;
                    width: 100%;
                    height: auto;
                    padding: 10px;
                    gap: 10px;
                    .container-img {
                        max-width: 70px;
                        width: 100%;
                        max-height: 70px;
                        height: 100%;
                        
                    }
                }
            }
        }
    }
    .footer {
        .container {
            .legal {
                text-align: center;
                .links-container {
                    width: 100%;
                    margin-bottom: 30px;
                }
                .container-links {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
}